*.log
*.pot
*.pyc
*~
*.swp
*tmp
*.ini
*.pid
*.txt
*DS_Store
settings.py
rundev.sh
*.csv
.project
.pydevproject
.settings/*
.idea/*
tags
cscope.*
[sS]itemap.xml
secure_settings.py
/static/payment_flow_attachments/
secure_settings.py
