# https://travis-ci.org/lovedboy/pwm
language: python
python:
    - 2.7.8
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - nightly
branches:
  only:
    - master
script:
    - python -m unittest discover
    - python setup.py  install
    - cd travis
    - export PWM_DB_PATH="pwm.db"
    - /bin/sh setup.sh
